on:
  push:
  pull_request:

name: ci

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: build
        run: ./build.sh -t

      - name: test
        working-directory: tests
        run: env METAMATH=../metamath ./run_test.sh *.in
